/*Body video */
.mobile {
  display: none;
}

.desktop {
  display: block;
}

.leftside {
  left: 0;
  
}

.contentmiddle {
  text-align: center;
  width: 77%;
}

.scroll {
  height: 800px;
  overflow-y: scroll;
  font-family: airstrike;
  color: #ABA191;
}

.rightside {
  right: 0;
}

h1 {
  text-align: center;
  font-family: airstrike;
  color: #ABA191;
  font-size: 300%;
}

/*IMAGE HOVER*/
.hoverdiv {
  position: relative;
}

.foto {
  opacity: 1;
  display: block;
  transition: .3s ease;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid white;
}

.hoverdiv:hover .middle {
  opacity: 1;
}

.text {
  font-family: airstrike;
  background-color: #08071D;
  color: #ABA191;
  font-size: 16px;
  padding: 10px 15px;
}

/*divs next to each other*/

.column {
  float: left;
  width: 50%;
  padding: 10px;
  font-family: airstrike;
  color: #ABA191;
  text-align: center;
}

.column p {
  padding: 60px;
  text-align: left;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

/*scrolbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0D0B28; 
}
 
::-webkit-scrollbar-thumb {
  background: #8932CC; 
}

::-webkit-scrollbar-thumb:hover {
  background: #56B04A; 
}


/*main*/

@font-face {
  font-family: voltec;
  src: url(Font/Voltec\ Free\ Version.ttf);
}

@font-face {
  font-family: airstrike;
  src: url(Font/airstrike.ttf);
}
  
body {
  margin: 0;
  padding: 0;
  background-image: url('BackGrounds/Color.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0A0923;
}
 
  /*Navigation*/

  .newmenu {
    background-color: #0A0923;
    padding: 1%;
    border: 2px solid #56B04A;
    border-radius: 5px;
    
  }

  .newmenu:hover {
    background-color: #8932CC;
    padding: 1.2%;
  }

  .dropdown {
    width: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -4.5%;
    position: absolute;
  }
    
  div { 
    text-align: center;
  }
    
  .dropdown-content {
    font-family: voltec;
    display: none;
    position: absolute;
    width: 1850%;
    margin-left: -870%;
    z-index: 1;
    
    text-align: center;
    
  }
    
  .dropdown-content a {
    text-decoration: none;
    color: #ABA191 ;
    font-size: 100%;
    
  }

  .dropdown-content a:hover {
    color: #fff;
  }
    
  .dropdown-content p {
    text-decoration: none;
    color: #3deb34 ;
    font-size: larger;
  }

  .dropdown-content image {
    margin-left: 50px;
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image2 {
    position: absolute;
    width: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;   
  }
  
/*footer*/
.parent1 {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.image11 {
  position: relative;
  top: 0;
  left: 0;
}

.image21 {
  position: absolute;
  width: 4%;
  margin: 0 auto;
  left: 0%;
  right: 0;
  top: 35%;   
}
    
/*body*/
main {
  margin-left: 2%;
  margin-right: 2%;
}

td img { 
  width: 100%;
  padding: 0;
  margin-top: 0;
}
     
td {
  margin: 0;
  padding: 10px;
}
  
.twee {
  height: 175px;
}
  
 
/* sparkling stars */
@keyframes comeInOut {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}

.sparkling {
  position: relative;
  display: inline-block;
  z-index: 0;

}

.sparkling > span {
  position: absolute;
  display: block;
  animation: comeInOut 1000ms forwards;
}

.sparkling > span > svg {
  display: block;
  animation: spin 1000ms linear;
}
  
  




/*MOBILE*/

@media only screen and (max-width: 1000px) {
  

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  @font-face {
    font-family: voltec;
    src: url(Font/Voltec\ Free\ Version.ttf);
  }
  @font-face {
    font-family: airstrike;
    src: url(Font/airstrike.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('BackGrounds/Color.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #0A0822;
    font-family: airstrike;
    color: #ABA191;
  }

  main {
    margin-left: 2%;
    margin-right: 2%;
  }

  .back {
    margin-bottom: 0px;
    margin-top: -30px;
  }

  .dropdown {
    width: 10%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -17%;
    position: absolute;
  }
  
  p {
    text-align: left;
    margin-left: 5% ;
    margin-right: 5%;
  }
 
  
  .dropdown-content {
    font-family: voltec;
    display: block;
    position: absolute;
    width: 950%;
    margin-left: -420%;
    z-index: 1;
    border: 1px solid white;
    background-color: #08071D ;
    text-align: center;
    top: 182%;
  }
  
  .dropdown-content a {
    text-decoration: none;
    color: #3deb34 ;
    font-size: 100%;
  }
  
  .dropdown-content p {
    text-decoration: none;
    color: #3deb34 ;
    font-size: larger;
  }
  
  .parent {
    position: relative;
    top: 0;
    left: 0;
  }

  .image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
  }

  .image2 {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 27%;   
  }

  .arrowleft :hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .arrowright :hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .menu {
    width: 100%;
  }

  .align {
    text-align: left;
  }

 
}